[submodule ".registry"]
	path = .registry
	url = https://github.com/rmi-pacta/rmi-pacta.r-universe.dev
	branch = HEAD
[submodule "pacta.aggregate.loanbook.plots"]
	path = pacta.aggregate.loanbook.plots
	url = https://github.com/rmi-pacta/pacta.aggregate.loanbook.plots
[submodule "pacta.data.preparation"]
	path = pacta.data.preparation
	url = https://github.com/rmi-pacta/pacta.data.preparation
[submodule "pacta.data.scraping"]
	path = pacta.data.scraping
	url = https://github.com/rmi-pacta/pacta.data.scraping
[submodule "pacta.data.validation"]
	path = pacta.data.validation
	url = https://github.com/rmi-pacta/pacta.data.validation
[submodule "pacta.executive.summary"]
	path = pacta.executive.summary
	url = https://github.com/rmi-pacta/pacta.executive.summary
[submodule "pacta.interactive.plot"]
	path = pacta.interactive.plot
	url = https://github.com/rmi-pacta/pacta.interactive.plot
[submodule "pacta.multi.loanbook"]
	path = pacta.multi.loanbook
	url = https://github.com/rmi-pacta/pacta.multi.loanbook
[submodule "pacta.portfolio.allocate"]
	path = pacta.portfolio.allocate
	url = https://github.com/rmi-pacta/pacta.portfolio.allocate
[submodule "pacta.portfolio.audit"]
	path = pacta.portfolio.audit
	url = https://github.com/rmi-pacta/pacta.portfolio.audit
[submodule "pacta.portfolio.import"]
	path = pacta.portfolio.import
	url = https://github.com/rmi-pacta/pacta.portfolio.import
[submodule "pacta.portfolio.report"]
	path = pacta.portfolio.report
	url = https://github.com/rmi-pacta/pacta.portfolio.report
[submodule "pacta.portfolio.utils"]
	path = pacta.portfolio.utils
	url = https://github.com/rmi-pacta/pacta.portfolio.utils
[submodule "pacta.scenario.data.preparation"]
	path = pacta.scenario.data.preparation
	url = https://github.com/rmi-pacta/pacta.scenario.data.preparation
[submodule "pactaverse"]
	path = pactaverse
	url = https://github.com/rmi-pacta/pactaverse
[submodule "r2dii.analysis"]
	path = r2dii.analysis
	url = https://github.com/rmi-pacta/r2dii.analysis
[submodule "r2dii.colours"]
	path = r2dii.colours
	url = https://github.com/rmi-pacta/r2dii.colours
[submodule "r2dii.data"]
	path = r2dii.data
	url = https://github.com/rmi-pacta/r2dii.data
[submodule "r2dii.match"]
	path = r2dii.match
	url = https://github.com/rmi-pacta/r2dii.match
[submodule "r2dii.plot"]
	path = r2dii.plot
	url = https://github.com/rmi-pacta/r2dii.plot
